<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gitPub</title>
   
      <%- include("./cssjs.ejs") %>
</head>
<body>
<h1>At foo bar</h1>
<a href="/drinks">Back to Index</a>

<h2><%= drink.name.charAt(0).toUpperCase() + drink.name.slice(1)%></h2>
<img src="<%= drink.image%>.png">
<h3>$<%= drink.price %></h3>

</body>
</html>